.footer{
color: #d9d9d9;
background-color: #1a1a1a;
display: flex;
flex-direction: column;
align-items: center;
padding: 20px 8vw;
padding-top: 80px;
gap: 20px;
}

.footer-content{
width: 100%;
display: grid;
grid-template-columns: 2fr 1fr 1fr;
gap: 80px;
}

.footer-content-left, .footer-content-right, .footer-content-center{
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
}

.footer-content-left li, .footer-content-right li, .footer-content-center li{
list-style: none;
margin-bottom: 10px;
cursor: pointer;
}

 .footer-content-right h2, .footer-content-center h2{
color: white;
}

.footer-social-icons img{
width: 40px;
margin-right: 15px;
}

.footer-copyright{
width: 100%;
text-align: center;
align-items: center;
margin-top: 20px;
}
.footer-copyright p{
    margin-top: 20px;
}


/* 📱 Responsive */
@media (max-width: 1024px) {
  .footer-content {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    text-align: center;
  }

  .footer-content-left {
    grid-column: span 2; /* biar lebar penuh */
  }
}

@media (max-width: 480px) {
  .footer-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .footer-content-left,
  .footer-content-center,
  .footer-content-right {
    align-items: center;
    text-align: center;
  }

  .footer-social-icons img {
    width: 35px;
    margin: 0 10px;
  }
}